In [1]:
import pandas as pd

In [2]:
accepted = pd.read_csv('accepted_2007_to_2018Q4.csv')

/Users/jameskim/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [18]:
sample = accepted.sample(10000)

In [19]:
sample = sample.iloc[:,81:121]

In [20]:
sample.head()

,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,...,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc
648986,46.6,0.0,0.0,131.0,209.0,3.0,3.0,2.0,3.0,NaN,...,297900.0,58034.0,124500.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1025183,21.2,0.0,0.0,19.0,335.0,2.0,2.0,2.0,12.0,69.0,...,89811.0,15151.0,53000.0,11095.0,NaN,NaN,NaN,NaN,NaN,NaN
978889,67.8,0.0,0.0,156.0,303.0,0.0,0.0,7.0,4.0,NaN,...,922916.0,188315.0,90100.0,20016.0,NaN,NaN,NaN,NaN,NaN,NaN
655780,43.2,0.0,0.0,167.0,165.0,4.0,4.0,3.0,23.0,NaN,...,250644.0,24292.0,32400.0,11482.0,NaN,NaN,NaN,NaN,NaN,NaN
142523,21.5,0.0,0.0,124.0,117.0,98.0,3.0,2.0,98.0,NaN,...,52262.0,31922.0,16900.0,35362.0,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
#checking to see what columns has at least 1 missing values.
#all of them have at least 1 missing value
sample.columns[sample.isna().any()].tolist()

['bc_util',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit',
 'revol_bal_joint',
 'sec_app_fico_range_low',
 'sec_app_fico_range_high',
 'sec_app_earliest_cr_line',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc']

In [22]:
len(sample.columns[sample.isna().any()].tolist())

40

In [25]:
#looking for which row has all missing value
#dropping this row
idx = sample.index[sample.isnull().all(1)]
nans = sample.ix[idx]
nans

/Users/jameskim/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  after removing the cwd from sys.path.

,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,...,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc
1654329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
#dropping all columns where missingness accounts for 95%+ of the column
sample.isna().sum()

bc_util                            330
chargeoff_within_12_mths             1
delinq_amnt                          1
mo_sin_old_il_acct                 611
mo_sin_old_rev_tl_op               309
mo_sin_rcnt_rev_tl_op              309
mo_sin_rcnt_tl                     309
mort_acc                           227
mths_since_recent_bc               321
mths_since_recent_bc_dlq          7705
mths_since_recent_inq             1350
mths_since_recent_revol_delinq    6816
num_accts_ever_120_pd              309
num_actv_bc_tl                     309
num_actv_rev_tl                    309
num_bc_sats                        266
num_bc_tl                          309
num_il_tl                          309
num_op_rev_tl                      309
num_rev_accts                      309
num_rev_tl_bal_gt_0                309
num_sats                           266
num_tl_120dpd_2m                   678
num_tl_30dpd                       309
num_tl_90g_dpd_24m                 309
num_tl_op_past_12m                 309
pct_tl_nvr_dlq                     310
percent_bc_gt_75                   327
pub_rec_bankruptcies                 5
tax_liens                            1
tot_hi_cred_lim                    309
total_bal_ex_mort                  227
total_bc_limit                     227
total_il_high_credit_limit         309
revol_bal_joint                   9534
sec_app_fico_range_low            9534
sec_app_fico_range_high           9534
sec_app_earliest_cr_line          9534
sec_app_inq_last_6mths            9534
sec_app_mort_acc                  9534
dtype: int64

In [28]:
#columns to drop
sample.drop(['revol_bal_joint', 'sec_app_fico_range_low','sec_app_fico_range_high','sec_app_earliest_cr_line','sec_app_inq_last_6mths'
             ,'sec_app_mort_acc'], axis=1, inplace=True)

In [30]:
sample.sample(20)

,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
800067,48.7,0.0,0.0,119.0,120.0,9.0,9.0,1.0,9.0,5.0,...,0.0,1.0,96.2,25.0,0.0,0.0,157010.0,57429.0,23400.0,46183.0
435534,0.0,0.0,0.0,176.0,255.0,7.0,7.0,3.0,16.0,NaN,...,0.0,1.0,100.0,0.0,0.0,0.0,38000.0,677.0,34500.0,0.0
928497,88.1,0.0,0.0,229.0,136.0,9.0,9.0,0.0,12.0,NaN,...,0.0,2.0,94.4,100.0,0.0,0.0,60861.0,42771.0,6300.0,37561.0
1574357,17.4,0.0,0.0,35.0,118.0,12.0,1.0,0.0,12.0,NaN,...,0.0,4.0,100.0,0.0,0.0,0.0,106587.0,83889.0,5300.0,90162.0
1079158,64.6,0.0,0.0,112.0,267.0,14.0,14.0,3.0,14.0,NaN,...,0.0,0.0,94.4,40.0,0.0,0.0,210250.0,24452.0,22100.0,21850.0
1320603,21.0,0.0,0.0,98.0,170.0,4.0,4.0,2.0,16.0,NaN,...,0.0,1.0,69.0,0.0,1.0,0.0,12300.0,2278.0,9800.0,0.0
2229947,59.4,0.0,0.0,168.0,123.0,9.0,9.0,4.0,9.0,NaN,...,0.0,1.0,95.5,0.0,0.0,0.0,209602.0,41302.0,22900.0,32137.0
649233,34.4,0.0,0.0,165.0,112.0,1.0,1.0,4.0,6.0,NaN,...,0.0,6.0,100.0,0.0,0.0,0.0,434976.0,117139.0,44300.0,114141.0
1529374,101.6,0.0,0.0,146.0,204.0,81.0,9.0,0.0,81.0,NaN,...,0.0,1.0,100.0,100.0,0.0,0.0,47982.0,38631.0,4500.0,36982.0
234920,57.2,1.0,0.0,119.0,141.0,18.0,13.0,8.0,18.0,NaN,...,0.0,0.0,88.4,50.0,0.0,0.0,361750.0,43982.0,10800.0,58339.0
553550,65.0,0.0,0.0,118.0,113.0,4.0,4.0,1.0,29.0,NaN,...,0.0,1.0,100.0,66.7,1.0,0.0,58551.0,36628.0,14300.0,28324.0
244010,53.5,0.0,0.0,138.0,191.0,12.0,12.0,3.0,22.0,NaN,...,0.0,1.0,100.0,40.0,0.0,0.0,228262.0,38665.0,65500.0,0.0
1213484,98.8,0.0,0.0,82.0,231.0,11.0,5.0,2.0,11.0,NaN,...,0.0,3.0,100.0,100.0,0.0,0.0,123541.0,36698.0,7500.0,36168.0
794396,27.0,0.0,0.0,31.0,211.0,23.0,7.0,0.0,24.0,NaN,...,0.0,2.0,100.0,0.0,1.0,0.0,85519.0,49038.0,12700.0,63519.0
274687,101.6,0.0,0.0,152.0,149.0,7.0,1.0,7.0,19.0,43.0,...,0.0,3.0,98.3,100.0,0.0,0.0,138295.0,12161.0,1200.0,10500.0
1184013,69.0,0.0,0.0,128.0,138.0,23.0,7.0,5.0,23.0,57.0,...,0.0,1.0,96.6,50.0,0.0,0.0,131525.0,56214.0,8300.0,61197.0
1702135,23.7,0.0,0.0,145.0,424.0,50.0,4.0,4.0,87.0,22.0,...,1.0,2.0,82.9,40.0,0.0,0.0,690554.0,242245.0,42000.0,160054.0
2112616,21.4,0.0,0.0,139.0,465.0,3.0,3.0,5.0,3.0,NaN,...,0.0,4.0,100.0,0.0,0.0,0.0,583387.0,84218.0,100000.0,78095.0
1466030,59.2,0.0,0.0,168.0,166.0,37.0,28.0,0.0,45.0,NaN,...,0.0,0.0,100.0,20.0,0.0,0.0,355111.0,299658.0,65900.0,282711.0
838742,98.0,0.0,0.0,129.0,242.0,120.0,11.0,2.0,150.0,NaN,...,0.0,2.0,88.9,100.0,0.0,0.0,546838.0,54630.0,6900.0,78449.0

In [34]:
#columns to fillna with 0
fill = sample[['bc_util','chargeoff_within_12_mths',
                'delinq_amnt','mort_acc','mths_since_recent_bc','mths_since_recent_bc_dlq',
                 'num_tl_90g_dpd_24m','num_tl_op_past_12m','pub_rec_bankruptcies','tax_liens']]

In [39]:
for column in fill:
    sample[column].fillna(0)

In [41]:
sample.isna().sum()

bc_util                            330
chargeoff_within_12_mths             1
delinq_amnt                          1
mo_sin_old_il_acct                 611
mo_sin_old_rev_tl_op               309
mo_sin_rcnt_rev_tl_op              309
mo_sin_rcnt_tl                     309
mort_acc                           227
mths_since_recent_bc               321
mths_since_recent_bc_dlq          7705
mths_since_recent_inq             1350
mths_since_recent_revol_delinq    6816
num_accts_ever_120_pd              309
num_actv_bc_tl                     309
num_actv_rev_tl                    309
num_bc_sats                        266
num_bc_tl                          309
num_il_tl                          309
num_op_rev_tl                      309
num_rev_accts                      309
num_rev_tl_bal_gt_0                309
num_sats                           266
num_tl_120dpd_2m                   678
num_tl_30dpd                       309
num_tl_90g_dpd_24m                 309
num_tl_op_past_12m                 309
pct_tl_nvr_dlq                     310
percent_bc_gt_75                   327
pub_rec_bankruptcies                 5
tax_liens                            1
tot_hi_cred_lim                    309
total_bal_ex_mort                  227
total_bc_limit                     227
total_il_high_credit_limit         309
dtype: int64